.map-container {
  width: 98.5vw;
  height: 100vh;
}

.top-page {
  background-color: #B3A369;
  left: 0px;
  align-items: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.marker {
  background-color: gold;
  border: 1px solid blue;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
}

.parent {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 0.5fr .3fr .3fr;
}

.title {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 0.5fr .5fr;
}

.parent2 {
  margin-top: 5%;
  display: grid;
  grid-template-columns: 0.8fr .8fr;
}

.button1 {
  background-color: white;
    border: solid;
    color: #B3A369;
    padding: 20px 135px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    width: 400px;
    height: 80px;
}

.button {
  background-color: white;
    border: solid;
    color: #B3A369;
    padding: 20px 135px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    width: 400px;
    height: 80px;
}
